@use "../node_modules/@picocss/pico/scss/pico.scss";

body,
html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body>main {
  flex-grow: 1;
}

body>footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 2px solid black;
  margin: 0 1rem;
  color: #888;
}

.container.text {
  padding-top: 2rem;
  max-width: 32rem;
}

.pagination {
  text-align: center;
  padding: 1rem 0;

  a,
  .selflink {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 160%;
  }
}

.figure {
  margin-bottom: 1rem;
}

figure.rounded img {
  border-radius: 0.2rem;
}

/* .title { */
/*   margin-top: 2rem; */
/* } */

.notepad_nav {
  margin: 0 1rem;
  border-bottom: 2px solid black;

  nav {
    li strong {
      font-weight: bold;

      a {
        text-decoration: none;
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;

      ul,
      ul:first-of-type,
      ul:last-of-type {
        flex-direction: column;
        align-items: stretch;
        margin-left: calc(var(--pico-nav-element-spacing-horizontal) * 0);
        margin-right: calc(var(--pico-nav-element-spacing-horizontal) * 0);

        li {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.tags {
  margin-bottom: 1rem;
}

span.tag {
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.2rem;
  background-color: silver;

  &:hover {
    background-color: gray;
  }

  a {
    color: white !important;
    text-decoration: none;
  }
}

input[data-role~="lunr-search"] {
  &::placeholder {
    opacity: 0.6;
    filter: grayscale(100%);
    text-align: right;
  }

  &:disabled {
    &::placeholder {
      opacity: 0;
    }
  }
}

.search_results {
  background-color: white !important;
  z-index: 10000;
  min-width: 30rem;
  right: 0;

  .search_result {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;

    &:last-child {
      border-bottom: none;
    }
  }

  .search_excerpt {
    font-size: 0.8em;
  }

  button {
    color: black;

    &:hover {
      color: red;
    }
  }
}
