{% set paginator = util.paginate() %}
{% if paginator.length>1 %}
<div class="container pagination">
  {% for pagina in paginator %}
  <a href="{{ pagina.link }}">{{ pagina.label }}</a>
  {% endfor %}
</div>
{% endif %}
<footer>{% if config.author %}© {{ config.author }} 2025 | {% endif %} <a href="{{config.rss_uri}}">RSS</a>
  | <a href="{{config.atom_uri}}">Atom</a>
</footer>
</body>

</html>
