{% include "html_start.njk"%}
<main class="container text">
  {% set bcs = list.getBreadcrumbs(page , 1) %}
  {% if bcs.length>0 %}
  <nav aria-label="breadcrumb">
    <ul>
      {% for B in bcs %}
      <li><a href="{{B.file.path}}">{{ B. meta.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
  <h1 class="title">{% if page.tag %}Tag: {% endif %}{{ page.meta.title }}</h1>
  {% if(page.meta.tags) %}
  <div class="tags">
    {%for tag in page.meta.tags %}
    <span class="tag"><a href="{{ tag.file.path }}">{{ tag.meta.title }}</a></span>
    {%endfor %}
  </div>
  {% endif %}

  {{ html }}
  {% if page.meta.date and page.meta.date.getTime()>100 %}
  <small style="opacity:0.5">
    <p>{{ util.niceDate(page.meta.date)}}</p>
  </small>
  {% endif %}
  {% set pages_here = list.getNearFiles(page.file.path) %}
  {% if pages_here.length==0 and page.file.path.startsWith('/index') and page.index %}
  {% set add_parent=true %}
  <h2>Recent additions:</h2>
  {% set pages_here = list.getAllFiles("/index.html") %}
  {% endif %}

  {% if(pages_here and page.index and not page.list) %}
  {{ splitToPages(pages_here , 8 )}}
  <ul>
    {% for P in page.list_page %}
    <li>{% if add_parent %}
      {% set par = list.getParent(P) %}
      <small><a href="{{par.file.path}}">{{par.meta.title}}</a>→</small>
      {% endif %}
      <strong><a href="{{ P.file.path }}">{{ P.meta.title}}</a></strong>
      <div><small>{{ P.meta.excerpt}}</small></div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if(page.list) %}
  <ul>
    {% for PL in page.list %}
    <li><a href="{{PL.file.path}}">{{PL.meta.title}}</a>{% if(PL.list) %} <small>({{PL.list.length}})</small>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</main>
{% include "html_end.njk"%}
